@media(min-width: 992px) {
    .tests-parent .card-parent .card {
        border: unset;
        width: 18% !important;
        margin: 0px 15px;
    }

    .tests-parent .card-parent .container:hover .hoverTextCard {
        width: 91%;
    }

}

@media (max-width: 768px) {
    .tests-parent .parent-header {
        font-size: 25px;
        padding-left: 10px;
    }
    

    .tests-parent .card-parent .container:hover .hoverTextCard {
        font-size: 10px !important;
    }

    .tests-parent .card-parent .container .card-backGround {
        height: 155px;
    }

    .tests-parent .card-parent .container span {
        font-size: 10px;
    }

    .tests-parent .card-parent {
        margin-left: 5px !important;
    }

    .tests-parent .testType-header {
        font-size: 16px;
    }
    .tests-parent .card-parent img {
        height: 170px !important;
    }
}



.tests-parent .card-parent .custom-col{
    margin-right: 0px !important;
    width: 20% !important;
    padding-left: 0px !important;
    padding-right: 10px;
    margin-left: 0px !important;
    padding-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
.tests-parent .card-parent .custom-col{
    width: 25% !important;
}
}

@media (min-width: 500px) and (max-width: 768px) {
    .tests-parent .card-parent .custom-col{
        width: 33.3333% !important;
    }
}

@media (max-width: 500px) {
    .tests-parent .card-parent .custom-col{
        width: 50% !important;
    }
}